*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111827;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px 10%;
    flex-wrap:wrap;
}

.hero-content{
    max-width:600px;
}

.hero h1{
    font-size:3rem;
}

.hero span{
    color:#38bdf8;
}

.hero h3{
    margin:10px 0;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:30px;
}

.hero-img img{
    width:350px;
    border-radius:50%;
}

section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:40px;
    color:#38bdf8;
}

.skills-container,
.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.skill,
.card{
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
}

.skill:hover,
.card:hover{
    transform:translateY(-10px);
}

.skill i{
    font-size:50px;
    color:#38bdf8;
    margin-bottom:15px;
}

#contact{
    text-align:center;
}

/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        margin-top:10px;
    }

    .hero{
        flex-direction:column-reverse;
        text-align:center;
    }

    .hero-img img{
        width:250px;
        margin-bottom:30px;
    }

    .hero h1{
        font-size:2rem;
    }
}